* {
    box-sizing: border-box;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
  }
  

  main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }

.slider{
    width: 100%;
    display: block;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides-container{
    width: 40%;
}

.pic{
    display: none;
    width: 100%;
    flex: 1;
}

.active{
    display: block;
}

img{
    width: 100%;

}

.arrow{
    width: 5%;
}

.left-arrow{
    margin-right: 10px;
}

.right-arrow{
    margin-left: 10px;
}

.dots{
    width: 100%;
    display: flex;
    justify-content: center;

}

.dot{
    width: 20px;
    height: 20px;
    background-color: rgb(155, 155, 155);
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 100%;
    cursor: pointer;
}

.act{
    background-color: black;
}

.arrow{
    cursor: pointer;
}

